:root {
  /* Device breakpoints */
  /* Desktop */
  --desktop-breakpoint: 1440px;
  --desktop-container-max-width: 1280px;
  --desktop-side-padding: 32px;
  --desktop-col-gap: 32px;

  /* Tablet */
  --tablet-breakpoint: 768px;
  --tablet-container-max-width: 100%;
  --tablet-side-padding: 32px;
  --tablet-col-gap: 32px;

  /* Mobile */
  --mobile-breakpoint: 375px;
  --mobile-container-max-width: 100%;
  --mobile-side-padding: 16px;
  --mobile-col-gap: 16px;

  /* Typography */
  /* Font weights */
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;

  /* Font sizes */
  --fs-xs: calc(12rem / 16);
  --fs-sm: calc(14rem / 16);
  --fs-base: calc(16rem / 16);
  --fs-lg: calc(18rem / 16);
  --fs-xl: calc(20rem / 16);
  --fs-2xl: calc(24rem / 16);
  --fs-3xl: calc(30rem / 16);
  --fs-4xl: calc(36rem / 16);
  --fs-5xl: calc(48rem / 16);
  --fs-6xl: calc(60rem / 16);

  /* Line heights */
  --line-height-xs: calc(16rem / 16);
  --line-height-sm: calc(20rem / 16);
  --line-height-base: calc(24rem / 16);
  --line-height-lg: calc(28rem / 16);
  --line-height-xl: calc(28rem / 16);
  --line-height-2xl: calc(32rem / 16);
  --line-height-3xl: calc(36rem / 16);
  --line-height-4xl: calc(40rem / 16);
  --line-height-5xl: calc(48rem / 16);
  --line-height-6xl: calc(60rem / 16);

  /* Colors */
  /* Text colors */
  --text-primary: #171717;
  --text-primary-hover: #0a0a0a;
  --text-primary-invert: #fff;
  --text-secondary: #525252;
  --text-tertiary: #737373;
  --text-brand: #4338ca;
  --text-disabled: #a3a3a3;
  --text-error: #dc2626;
  --text-error-emphasize: #991b1b;
  --text-success: #15803d;
  --text-warning: #a16207;

  /* Background colors */
  --bg-primary: #fff;
  --bg-primary-hover: #fafafa;
  --bg-primary-invert: #0a0a0a;
  --bg-secondary: #e5e7eb;
  --bg-secondary-hover: #d1d5db;
  --bg-tertiary: #fafafa;
  --bg-disabled: #f5f5f5;
  --bg-disabled-emphasize: #f3f4f6;
  --bg-brand-primary: #4338ca;
  --bg-brand-primary-emphasize: #3730a3;
  --bg-error: #dc2626;
  --bg-error-emphasize: #b91c1c;
  --bg-error-subtle: #fef2f2;
  --bg-success-subtle: #f0fdf4;
  --bg-brand-subtle: #eef2ff;
  --bg-neutral-subtle: #f9fafb;
  --bg-warning-subtle: #fffbeb;

  /* Line colors (border/rings) */
  --border-primary: #e5e5e5;
  --border-secondary: #9ca3af;
  --border-success: #bbf7d0;
  --border-brand-solid: #4f46e5;
  --border-brand-subtle: #c7d2fe;
  --border-error-subtle: #fecaca;
  --border-warning-subtle: #fde68a;

  /* Icon colors */
  --icon-emphasize: #404040;
  --icon-primary: #a3a3a3;
  --icon-primary-hover: #737373;
  --icon-brand: #6366f1;
  --icon-brand-background: #eef2ff;
  --icon-success: #15803d;
  --icon-error: #dc2626;
  --icon-warning: #facc15;

  /* Input field, Form, Textarea colors */
  --form-text-tile: #404040;
  --form-text-placeholder: #737373;
  --form-text-hint: #737373;
  --form-text-filled: #171717;
  --form-text-disabled: #a3a3a3;
  --form-text-error: #dc2626;
  --form-background: #fafafa;
  --form-border: #e5e5e5;
}

/* Starter */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
}

input,
button,
textarea,
select {
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}

/* Container */
.container {
  display: flex;
  justify-content: center;
  padding: 120px var(--mobile-side-padding);
  background-image: linear-gradient(52deg, #f9fafb, #d2d6db);
  min-height: 100vh;
}

/* blog-card layout */
.blog-card {
  width: 340px;
  background-color: var(--bg-primary);
  box-shadow: 0 1px 3px 0 hsl(0 0 0 /10%), 0 1px 2px 0 hsl(0 0 0 /6%);
  border-radius: 8px;
  max-height: fit-content;
  overflow: hidden;
}

.blog-card_content,
.blog-card_content__header,
.blog-card_content__body {
  display: flex;
  flex-direction: column;
}

.blog-card_content {
  gap: calc(12rem / 16);
  padding: 1.5rem 1rem;
}

.blog-card_content__header {
  gap: calc(8rem / 16);
}

.blog-card_content__body {
  gap: calc(24rem / 16);
}

/* Image */
.blog-card_image {
  width: 100%;
  height: 288px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Badge */
.badge {
  border-radius: 9999px;
  border: solid 1px;
  width: fit-content;
  height: fit-content;
}

.badge_size_md {
  padding: calc(2rem / 16) calc(8rem / 16);
  font-size: var(--fs-sm);
  line-height: var(--line-height-sm);
}

.badge_color_success {
  border: solid 1px var(--border-success);
  color: var(--text-success);
  background-color: var(--bg-success-subtle);
}

/* Title */
.blog-card_content__header__title {
  font-size: var(--fs-lg);
  line-height: var(--line-height-lg);
  font-weight: var(--fw-semibold);
  color: var(--text-primary);
}

/* Excerpt */
.blog-card_content__body__excerpt {
  line-height: var(--line-height-base);
  font-weight: var(--fw-medium);
  color: var(--text-secondary);
}

/* Link */
.blog-card_content__header__link > button {
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.blog-card_content__header__link__text,
.blog-card_content__header__link__arrow {
  color: var(--text-brand);
}

.blog-card_content__header__link__text {
  font-weight: var(--fw-medium);
  line-height: var(--line-height-base);
}

@media screen and (min-width: 768px) {
  .container {
    padding: 120px 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 120px 32px;
  }
}
